<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ClassLibrary.Properties.Settings.DBTripToMyDreamConnectionString" connectionString="Data Source=LAPTOP-UVG0AJOU\SQLEXPRESS;Initial Catalog=DBTripToMyDream;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBTripToMyDreamEntities" connectionString="metadata=res://*/ModelTrip.csdl|res://*/ModelTrip.ssdl|res://*/ModelTrip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-UVG0AJOU\SQLEXPRESS;initial catalog=DBTripToMyDream;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>