<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.DBTripToMyDreamConnectionString"
            connectionString="Data Source=LAPTOP-UVG0AJOU\SQLEXPRESS;Initial Catalog=DBTripToMyDream;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>